$title: #243f4d;
$subtitle: #a3bbc8;
$accent: #436372;
$bg-accent: #fcd7b6;
$light-bg-accent: #fef7f0;
$semilight-bg-accent: #feefe2;
$btn: #7b7b7b;
$active: #414141;
$inactive: #585858;
$heading: #1a1a1a;


%dmsans-400 {
    font-weight: 400;
}

%dmsans-500 {
    font-weight: 500;
}

%dmsans-700 {
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

@mixin product-card {
    background-color: #fcfcfc;
    box-shadow: 12px 9px 14px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;

    &:hover {
        transform: translateY(2px);
    }
}
