$title: #243f4d;
$subtitle: #a3bbc8;
$accent: #436372;
$bg-accent: #fcd7b6;
$light-bg-accent: #fef7f0;
$btn: #7b7b7b;
$active: #414141;
$inactive: #585858;
$heading: #191919;


%dmsans-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%btn {
    @extend %dmsans-400;
    line-height: 1;
    color: #fff;
    background-color: $subtitle;
    border: none;
    cursor: pointer;
    transition: all 0.3 ease-in-out;

    &:hover {
        background-color: $inactive;
    }
}

%text {
    text-overflow: ellipsis;
    overflow: hidden;
}