@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 45px;
}

.logo {
    max-width: 155px;
    max-height: 50px;
    object-fit: contain;
}

.navigation-menu {
    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        @extend %text;
        @extend %rubik-500;
        font-size: 15px;
        color: $accent;
        max-height: 30px;
        max-width: 70px;
        transition: all 0.5s ease;

        &:hover {
            transform: scale(1.4);
        }
    }
}

.navigation-icons {
    display: flex;
    align-items: center;

    &__link {
        position: relative;
        background-color: transparent;
        border: none;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.3);
        }

        &--search,
        &--dots {
            border-radius: 50%;
            border: none;
        }

        &--search {
            padding: 15px 19px 5px;
            background-color: #edf1f4;
        }

        &--heart,
        &--cart {
            margin-top: 10px;
        }

        &--dots {
            padding: 12px 14px 4px;
            background-color: $subtitle;
        }
    }

    &__user {
        display: flex;
        justify-content: space-evenly;
        background-color: $bg-accent;
        border-radius: 25px;
        margin: 0 20px;
        padding: 5px;
        width: 180px;
        height: 50px;
    }

    &__line {
        color: #fde7d3;
        font-size: 35px;
        line-height: 1;
    }

    &__num {
        position: absolute;
        @extend %dmsans-400;
        text-align: center;
        font-size: 10px;
        line-height: 1.5;
        color: $title;
        width: 16px;
        height: 16px;
        right: -8px;
        top: -11px;
        border-radius: 50%;
        background-color: #fff;
    }
}

.slider-top {

    &__items {
        background-color: $bg-accent;
        height: 820px;
        // position: relative;
    }

    &__item-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        // position: absolute;
        // margin: 0;
        // top: 50%;
        // left: 50%;
        // // margin-right: -50%;
        // transform: translate(-50%, -50%);
    }

    &__heading {
        @extend %rubik-500;
        @extend %text;
        font-size: 72px;
        line-height: 1;
        color: $title;
        max-width: 430px;
        max-height: 139px;
        margin-bottom: 40px;
    }

    &__text {
        margin-right: 130px;
    }

    &__descr {
        @extend %text;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 1.6;
        color: $accent;
        max-width: 370px;
        max-height: 80px;
        margin-bottom: 40px;
    }

    &__link {
        @extend %btn;
        padding: 25px 100px 25px 25px;
        position: relative;
        transition: all 0.3s ease-in-out;


        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/arrow.svg);
            width: 22px;
            height: 9px;
            right: 21px;
            top: 28px;
        }
    }

    &__img {
        position: relative;
        padding-top: 100px;
        max-width: 660px;
        max-height: 390px;
        object-fit: contain;
        transform-style: preserve-3d;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/slider-bg.png);
            height: 634px;
            width: 630px;
            top: -32%;
            right: -21%;
            transform: translateZ(-1px);
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;

        li {
            line-height: 1;
            padding: 0 5px;

            button {
                @extend %rubik-500;
                padding: 0;
                font-size: 10px;
                background-color: rgba(255, 255, 255, 0.3);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
            }

            &.slick-active {
                button {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.info {

    &__items {
        // padding: 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: end;
        background-color: $light-bg-accent;
    }

    &__item {
        padding: 50px 150px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }
    }

    &__text {
        margin-left: 30px;
        min-height: 100px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
            height: 50px;
            width: 50px;
            top: 7%;
            right: 114%;
        }

        &--first::before {
            background-image: url(../images/time.svg);
        }

        &--second::before {
            background-image: url(../images/delivery-truck.svg);
        }

        &--third::before {
            background-image: url(../images/credit-card.svg);
        }
    }

    &__name {
        @extend %text;
        @extend %dmsans-700;
        color: $active;
        font-size: 18px;
        line-height: 2.2;
        max-height: 30px;
        max-width: 220px
    }

    &__descr {
        @extend %text;
        @extend %dmsans-400;
        max-width: 213px;
        color: $inactive;
        max-height: 60px;
        max-width: 220px
    }
}

.product {
    padding: 70px 0 180px;

    &__heading {
        @extend %text;
        @extend %dmsans-700;
        font-size: 36px;
        color: $heading;
        margin: 0 auto;
        max-height: 50px;
        max-width: 370px;
    }

    &__filter {
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn {
            margin: 35px 0 70px;
        }
        &-btn:not(:last-child) {
            margin-right: 30px;
        }
    }

    .mixitup-control-active {
        color: $subtitle;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        background-color: #fcfcfc;
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 270px;
        height: 380px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin-right: 40px;
        margin-top: 40px;
    }

    &__item:hover &__hover {
        visibility: visible;
        opacity: 1;
    }

    &__item:nth-child(4),
    &__item:nth-child(8) {
        margin-right: 0;
    }

    &__img {
        margin-bottom: 60px;
        max-height: 235px;
        min-width: 160px;
        object-fit: contain
    }

    &__title {
        @extend %text;
        @extend %dmsans-500;
        color: $title;
        max-width: 125px;
        max-height: 30px;
    }

    &__price {
        @extend %text;
        @extend %dmsans-700;
        color: $subtitle;
        margin-bottom: 35px;
        max-width: 125px;
        max-height: 30px;
    }

    &__hover {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        top: 50%;
    }

    &__search,
    &__cart,
    &__like {
        padding: 15px 10px 5px;
        background-color: #f6f5f5;
        transition: all 0.3s ease-in;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background-color: $subtitle;
        }

        &:hover svg {
            fill: #fff;
        }
    }
}

.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 80px 0 75px;
    }

    &__logo,
    &__title {
        display: block;
        margin-bottom: 30px;
    }

    &__title {
        @extend %text;
        @extend %dmsans-700;
        max-width: 170px;
        max-height: 50px;
        font-size: 16px;
        color: #1f2044;
        text-transform: uppercase;
    }

    &__address {
        max-width: 200px
    }

    &__link:not(:last-child) {
        margin-bottom: 15px;
    }

    &__link,
    &__text {
        display: block;
    }

    &__link,
    &__text,
    &__nav-link,
    &__copy {
        @extend %rubik-400;
        @extend %text;
        color: $btn;
        font-style: normal;
        line-height: 1.7;
        max-height: 53px;
        max-width: 390;
    }

    &__text {
        max-width: 270px;
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
    }

    &__form-email {
        background-color: $light-bg-accent;
        border: none;
        padding: 7px;

        &::placeholder {
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }

    &__form-btn {
        @extend %btn;
        font-size: 14px;
        padding: 15px;
        cursor: pointer;
    }

    &__line {
        margin: 0;
        border-top: 1px solid #dae4e9;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        margin: 35px 0;
    }

    .footer__nav {
        display: flex;
        &-list:not(:last-child) {
            margin-right: 30px;
            position: relative;

            &:after {
                content: '|';
                position: absolute;
                right: -45%;
            }
        }
    }
}