@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'mixin';
@import 'components/header';
@import 'components/footer';

.mix-filter {
    display: flex;
    justify-content: center;
    align-items: center;

    @include r(470) {
        flex-wrap: wrap;
    }

    &__btn {
        @include line-clamp (16px, 1, 1);
        @extend %dmsans-700;
        margin: 30px 0 30px;
        color: $inactive;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline-color: $bg-accent;
        max-width: 95px;
        transition: color 0.3s ease;

        @include r(470) {
            margin: 6px 0;
        }

        &:hover {
            color: $subtitle;
        }

        & button {
            border: none;
            background-color: transparent;
        }
    }

    &__item:not(:last-child) {
        margin-right: 23px;
    }

    .mixitup-control-active {
        color: $subtitle;
    }
}

.slider-top {

    &__items {
        background-color: $bg-accent;
        height: 820px;
        position: relative;

        @include r(1260) {
            height: 540px;
        }

        @include r(470) {
            height: 452px;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 734px;

        @include r(1260) {
            flex-wrap: wrap;
            height: 470px;
        }

        @include r(470) {
            height: 375px;
        }
    }

    &__text {
        margin-right: 84px;

        @include r(1260) {
            margin-top: 15px;
            margin-right: 0;
            margin-left: 10px;
        }
    }

    &__heading {
        @extend %rubik-500;
        @include line-clamp (72px, 1, 2);
        color: $title;
        max-width: 430px;
        margin-bottom: 36px;

        @include r(1260) {
            font-size: 60px;
            margin-bottom: 13px;
            max-width: 591px;
        }

        @include r(970) {
            font-size: 45px;
        }

        @include r(470) {
            font-size: 26px;
        }
    }


    &__descr {
        @include line-clamp (18px, 1.6, 2);
        @extend %rubik-400;
        line-height: 1.6;
        color: $accent;
        max-width: 370px;
        margin-bottom: 60px;

        @include r(1260) {
            margin-bottom: 20px;
        }

        @include r(470) {
            font-size: 15px;
        }
    }

    &__link {
        @include btn;
        padding: 24px 100px 21px 27px;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include r(1260) {
            padding: 12px 50px 12px 16px;
        }

        @include r(970) {
            padding: 12px 16px 12px 16px;
        }

        @include r(470) {
            padding: 6px 10px 6px 11px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/arrow.svg);
            width: 22px;
            height: 9px;
            right: 21px;
            top: 28px;

            @include r(1260) {
                top: 20px;
            }

            @include r(970) {
                background-image: none;
            }
        }
    }

    &__img {
        padding-top: 77px;
        max-width: 660px;
        max-height: 390px;
        object-fit: contain;
        position: relative;
        z-index: 999;

        @include r(1260) {
            padding-top: 33px;
        }

        @include r(970) {
            max-width: 85%;
        }

        @include r(470) {
            padding-top: 0;
        }

        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-image: linear-gradient(-90deg, #fff, transparent);
            width: 34vw;
            height: 66vh;
            top: -29%;
            left: 22%;
            z-index: -1;

            @include r(1560) {
                display: none;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 46px;
        left: 0;
        right: 0;

        li {
            line-height: 1;
            padding: 0 5px;

            button {
                @extend %rubik-500;
                padding: 0;
                font-size: 10px;
                background-color: rgba(255, 255, 255, 0.3);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all 0.3s ease;

                &:hover {
                    border-color: $accent;
                }
            }

            &.slick-active {
                button {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.info {

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: end;
        background-color: $light-bg-accent;

        @include r(1260) {
            display: block;
        }
    }

    &__item {
        padding: 34px 0;
        display: flex;
        align-items: center;
        position: relative;

        @include r(1260) {
            padding: 19px 0;
        }

        @include r(470) {
            padding: 11px 0;
        }

        &:not(:last-child) {
            ::after {
                content: "";
                position: absolute;
                background-image: url(../images/info-line.svg);
                height: 166px;
                width: 1px;
                top: -34px;
                left: calc(100% + 150px);
                background-size: contain;
                background-repeat: no-repeat;

                @include r (1560) {
                    background: none;
                }
            }
        }

    }

    &__text {
        margin-left: 44px;
        position: relative;

        @include r (1260) {
            margin: 0 auto;
        }

        &::before {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
            height: 50px;
            width: 50px;
            top: 7%;
            right: calc(100% + 35px);

            @include r (970) {
                height: 40px;
                width: 40px;
            }

            @include r (470) {
                display: none;
            }
        }

        &--first::before {
            background-image: url(../images/time.svg);
        }

        &--second::before {
            background-image: url(../images/delivery-truck.svg);
        }

        &--third::before {
            background-image: url(../images/credit-card.svg);
        }
    }

    &__name {
        @include line-clamp (18px, 2.2, 1);
        @extend %dmsans-700;
        color: $active;
        max-width: 220px;

        @include r(470) {
            font-size: 16px;
        }
    }

    &__descr {
        @include line-clamp (16px, 1.87, 2);
        color: $inactive;
        max-width: 220px;

        @include r(1260) {
            line-height: 1;
        }
    }
}

.product {
    padding-top: 79px;

    &__heading {
        @include heading;
        margin: 0 auto;
        text-align: center;

        @include r(970) {
            font-size: 25px;
        }
    }

    &__filter {
        margin-bottom: 40px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 380px);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        justify-content: center;
        margin-bottom: 186px;

        @include r(970) {
            margin-bottom: 88px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 270px;
        padding: 27px 61px 38px;

        &:hover {
            transform: translateY(2px);
        }

        &-link {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }
    }

    &__item:hover &__hover {
        visibility: visible;
        opacity: 1;
    }


    &__img {
        margin-bottom: 29px;
        max-height: 235px;
        max-width: 238px;
        object-fit: contain
    }

    &__title,
    &__price {
        @include line-clamp (16px, 2.5, 1);
        max-width: 125px;
    }

    &__title {
        @extend %dmsans-500;
        color: $title;
    }

    &__price {
        @extend %dmsans-700;
        color: $subtitle;
    }

    &__hover {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        top: 50%;
    }


    &__icon {
        background-color: #fff;
        box-shadow: 0px 6px 10px 5px rgba(37, 37, 37, 0.07);
        transition: background-color 0.3s ease-in;
        border: none;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background-color: $subtitle;
        }

        &:hover svg {
            fill: #fff;
        }
    }
}

.product-lamp {
    &__items {
        display: flex;
        justify-content: space-between;

        @include r(1560) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $semilight-bg-accent;
        height: 390px;
        padding-right: 177px;
        padding-left: 154px;
        max-width: auto;

        @include r(1560) {
            margin-bottom: 50px;
        }

        @include r(470) {
            margin-bottom: 20px;
        }

        @include r(970) {
            padding-right: 10px;
            padding-left: 10px;
            height: 320px;
        }

        &:hover {
            transform: translateY(2px);
        }
    }

    &__text {
        margin-left: 25px;

        @include r(470) {
            max-width: 130px;
        }
    }

    &__name {
        @include line-clamp (26px, 1.23, 2);
        font-weight: 700;
        margin-bottom: 13px;
        max-width: 250px;

        @include r(970) {
            @include line-clamp (19px, 1.1, 4);
        }
    }

    &__descr {
        @include line-clamp (16px, 1.8, 2);
        @extend %rubik-400;
        margin-bottom: 45px;
        max-width: 295px;

        @include r(970) {
            @include line-clamp (15px, 1.1, 6);
            max-width: 240px;
        }
    }

    &__img {
        display: inline-block;
        max-height: 400px;
        max-width: 222px;
        margin-bottom: 162px;
        object-fit: contain;

        & img {
            @include r(970) {
                max-width: 67%;
            }

            @include r(470) {
                max-width: 80%;
            }
        }

        @include r(970) {
            margin-bottom: 0;
        }
    }

    &__link {
        @extend %rubik-500;
        color: $accent;
        border: solid 1px rgba(67, 99, 114, .4);
        border-radius: 5px;
        padding: 17px 82px 23px 19px;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include r(970) {
            padding: 10px 53px 10px 11px;
        }

        @include r(470) {
            padding: 10px 8px 10px 11px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/blue-arrow.svg);
            width: 22px;
            height: 9px;
            right: 19px;
            top: 24px;

            @include r(970) {
                top: 16px;
            }

            @include r(470) {
                background: none;
            }
        }

        &:hover {
            background-color: $subtitle;
        }
    }
}

.furniture {
    padding: 110px 0 96px;

    @include r(970) {
        padding: 30px 0 80px;
    }

    &__heading {
        @include heading;
        margin: 0 auto;
        text-align: center;

        @include r(970) {
            font-size: 25px;
        }
    }

    &-filter {
        margin-bottom: 78px;

        @include r(970) {
            margin-bottom: 36px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: repeat(2, 246px);
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    &__item {
        position: relative;
        background-color: #f8f8f8;
        height: 246px;
        width: 370px;

        @include r(470) {
            width: 336px;
        }

        &:hover {
            transform: translateY(2px);
        }
    }

    &__title,
    &__subtitle {
        font-weight: 700;
        padding-left: 46px;
    }

    &__title {
        @include line-clamp (20px, 1, 3);
        color: $heading;
        max-width: 207px;
        padding-top: 18px;
        display: block;
    }

    &__subtitle {
        @include line-clamp (16px, 1, 1);
        color: $subtitle;
        max-width: 103px;
        display: inline;
    }

    &__img {
        float: right;
        max-width: 270px;
        max-height: 178px;
        object-fit: fill;
        overflow: hidden;

        &--chair {
            margin-right: 65px;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        // z-index: -1;
    }
}

.video-promo {

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;

        @include r(970) {
            min-height: 275px;
        }

        &:hover {
            .video-promo__play {
                transition: all 0.3s ease;
                transform: scale(1.1);
            }
        }
    }
}

.insights {
    padding: 115px 0 77px;

    .insights-top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;

        &__heading {
            @include heading;
            max-width: 400px;

            @include r(970) {
                font-size: 25px;
            }

            @include r(470) {
                max-width: 235px;
            }
        }

        &__link {
            @include line-clamp (16px, 1, 1);
            @extend %dmsans-700;
            color: $heading;
            position: relative;
            padding-right: 36px;
            transition: color 0.3s ease;

            @include r(470) {
                padding-right: 0;
            }

            &:hover {
                color: $subtitle;
            }

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/article-more.svg);
                width: 6px;
                height: 11px;
                left: 82px;
                top: 3px;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @include r(1260) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        margin-bottom: 98px;
        z-index: 999;

        @include r(1260) {
            margin-bottom: 30px;
        }

        &:hover {
            transform: translateY(2px);
        }
    }

    &__img {
        max-width: 370px;
        max-height: 250px;
        object-fit: cover;

        @include r(470) {
            max-width: 299px;
        }

    }

    &__text {
        padding: 1px 30px 14px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        z-index: 6;
        background-color: #fff;
        border-radius: 5px;
        max-width: 370px;

        @include r(470) {
            max-width: 300px;
        }
    }

    &__type {
        content: "news";
        @extend %poppins-700;
        color: #fff;
        line-height: 1;
        max-width: 103px;
        text-transform: uppercase;
        padding: 10px 31px;
        border-radius: 15px;
        background-color: $subtitle;
        display: inline-block;
        transform: translateY(-17px);
    }

    &__descr {
        @include line-clamp (18px, 1, 3);
        max-width: 285px;
        min-height: 54px;
        font-weight: 500;
        color: #262626;
        margin-bottom: 18px;
    }

    &__info {
        @include line-clamp (12px, 2.5, 2);
        @extend %rubik-400;
        color: #222933;
        display: flex;
        padding-top: 17px;
        border-top: 1px solid #e0e0e0;
        // margin-left: 18px;
    }

    &__date,
    &__author {
        text-transform: uppercase;
        position: relative;

    }

    &__date {
        margin-left: 18px;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/calendar.svg);
            height: 13px;
            width: 12px;
            left: -18px;
            top: 7px;
        }
    }
    &__author {
        margin-left: 40px;

        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/user.svg);
            height: 13px;
            width: 12px;
            left: -15px;
            top: 7px;
        }
    }
}

.partner-slider {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    // padding-left: 50px;
    z-index: 5;

    &::before {
        content: "";
        position: absolute;
        background-color: $bg-accent;
        background-size: cover;
        opacity: 0.2;
        width: 1900px;
        height: 437px;
        z-index: -1;
        bottom: -79%;
    }

    &__logo {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-height: 100px;
        width: 100px;
    }

    &__img {
        height: 100%;
        display: block;
        margin: auto;
    }

    .slick-track {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
}