.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 88px 0 67px;

        @include r(970) {
            flex-direction: column;
            margin: 49px 0 7px;
        }
    }

    &__item {
        @include r(970) {
            margin-bottom: 30px;
        }
    }

    &__list {
        @include r(970) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__logo,
    &__title {
        display: block;
        margin-bottom: 11px;

    }

    &__title {
        @include line-clamp (16px, 1.31, 1);
        @extend %dmsans-700;
        max-width: 170px;
        color: #1f2044;
        text-transform: uppercase;

        @include r(970) {
            line-height: 1;
        }
    }

    &__address {
        max-width: 205px;

        @include r(970) {
            margin-bottom: 30px;
            max-width: 100%;
        }
    }

    &__link:not(:last-child) {
        margin-bottom: 6px;
    }

    &__link {
        @include r(970) {
            margin-right: 30px;
        }

        &:hover {
            color: #000;
        }
    }

    &__link,
    &__text,
    &__copy {
        @extend %rubik-400;
        @include line-clamp (16px, 1.7, 2);
        color: $btn;
        font-style: normal;
        max-width: 390px;
        transition: color 0.3s ease;
    }

    &__text {
        max-width: 270px;
        margin-bottom: 32px;
    }

    &__form {
        display: flex;
    }

    &__email {
        background-color: $light-bg-accent;
        border: none;
        padding: 7px;

        &::placeholder {
            color: #234969;
            font-size: 12px;
            font-weight: 700;
        }
    }

    &__form-btn {
        font-size: 14px;
        padding: 15px;
        cursor: pointer;
    }

    &__bottom-inner {
        border-top: 1px solid #dae4e9;
        display: flex;
        justify-content: space-between;
        padding: 26px 0;

        @include r(970) {
            flex-direction: column;
        }
    }

    &__items {
        display: flex;
    }

    &__nav:not(:last-child) {
        margin-right: 30px;
        position: relative;

        @include r(470) {
            margin-right: 0;
        }

        &:after {
            content: '|';
            position: absolute;
            right: -41%;
            top: -2px;

            @include r(970) {
                display: none;
            }
        }
    }
}