.logo-top {
    @include r(970) {
        flex: 1 0 auto;
    }

    @include r(470) {
        max-width: 35%;
    }

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 45px;

    @include r(970) {
        margin: 22px auto;
    }

    .navigation-menu {
        display: flex;
        justify-content: space-between;
        width: 500px;

        @include r(970) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            flex-direction: column;
            // justify-content: space-evenly;
            justify-content: center;
            text-align: center;
            background-color: rgba(126, 97, 2, 0.671);
            transform: translate(-100%, -100%) scale(0.5);
            border-radius: 100%;
            height: 100vh;
            transition: all 0.5s ease 0.1s;
            z-index: 10;
        }

        &__item {
            @include line-clamp (15px, 1, 1);
            @extend %rubik-500;
            color: $accent;
            max-width: 70px;
            transition: all 0.5s ease;
            position: relative;
            display: block;
            padding-bottom: 22px;

            @include r(970) {
                color: #fff;
                opacity: 0;
                transition-delay: 0.5s;
                max-width: 100%;
                right: 0;
                left: 0;
                padding: 20px;
            }

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $bg-accent;
                transform: scaleX(0);
                transform-origin: right center;
                transition-duration: 0.5s;
                transition-property: transform;

                @include r(970) {
                    width: 20%;
                    left: 40%;
                }
            }

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $accent;
                transform: scaleX(0);
                transform-origin: right center;
                transition-duration: 0.5s;
                transition-property: transform;

                @include r(970) {
                    width: 20%;
                    left: 40%;
                }
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left center;
                }
            }

            &--home {

                &::before {
                    transform: scaleX(1);
                    transform-origin: left center;
                    transition-duration: 0.5s;
                    transition-delay: 0.25s;
                    transition-property: transform;
                }

                &:hover {
                    ::before {
                        transform: scaleX(0);
                        transform-origin: right center;
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}

.navigation-icons {
    display: flex;
    align-items: center;

    &__link {
        position: relative;
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-in-out;

        & svg {
            transition: fill 0.3s ease-in-out;
        }

        &:hover {
            & svg {
                fill: #FF69B4;
            }
        }
    }

    &__search {
        background-color: #edf1f4;
    }

    &__dots {
        background-color: $subtitle;
    }

    &__search,
    &__dots {
        @include r(470) {
            background-color: transparent;
        }
    }

    &__user {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-color: $bg-accent;
        border-radius: 25px;
        margin: 0 20px;
        width: 180px;
        height: 45px;

        @include r(1260) {
            width: 112px;
            margin: 0 8px;
        }

        @include r(470) {
            background-color: transparent;
            margin: 0;
            width: 70px;
        }
    }

    &__dots svg {
        @include r(470) {
            fill: $accent;
        }
    }

    &__heart {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #fde7d3;
        border-radius: 0;

        @include r(470) {
            border-right: none;
        }

        // ::after {
        //     content: '';
        //     background-image: url(../images/line.svg);
        //     position: absolute;
        //     height: 35px;
        //     width: 1px;
        //     top: 4px;
        //     right: -27px;

        //     @include r(1260) {
        //         right: -10px;
        //     }

        //     @include r(470) {
        //         display: none;
        //     }
        // }
    }

    &__cart {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__num {
        position: absolute;
        text-align: center;
        font-size: 10px;
        line-height: 1.5;
        color: $title;
        width: 16px;
        height: 16px;
        right: 23px;
        top: 6px;
        border-radius: 50%;
        background-color: #fff;

        @include r(470) {
            background-color: $bg-accent;
        }
    }
}

.nav-wrap {
    display: none;

    @include r(970) {
        display: block;
    }
}

.navigation-menu.navigation-menu--active {
    @include r(970) {
        transform: translateY(0) scale(1);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.navigation-icons__search,
.navigation-icons__heart,
.navigation-icons__cart {
    @include r(470) {
        transition: all 0.5s ease;
        opacity: 0;
    }
}

.navigation-menu--active .navigation-menu__item {
    @include r(970) {
        opacity: 1;
        z-index: 10;
        transition-delay: 0.5s;
    }
}

.navigation-menu--active.navigation-icons__heart,
.navigation-menu--active.navigation-icons__search,
.navigation-menu--active.navigation-icons__cart {
    @include r(470) {
        opacity: 1;
        z-index: 10;
        transition-delay: 0.5s;
    }
}

.navigation-menu--active.navigation-icons__dots {
    @include r(470) {
        opacity: 0;
    }
}