.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 45px;
}

.logo {
    max-width: 155px;
    max-height: 50px;
    object-fit: contain;
}

.navigation-menu {
    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        @extend %text;
        @extend %rubik-500;
        font-size: 15px;
        color: $accent;
        max-height: 30px;
        max-width: 70px;
        transition: all 0.5s ease;

        &:hover {
            transform: scale(1.4);
        }
    }
}

.navigation-icons {
    display: flex;
    align-items: center;

    &__link {
        position: relative;
        background-color: transparent;
        border: none;
        transition: all 0.5s ease-in-out;
    }

    &__search {
        padding: 15px 19px 5px;
        background-color: #edf1f4;
    }


    &__dots {
        padding: 12px 14px 4px;
        background-color: $subtitle;
    }

    &__user {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-color: $bg-accent;
        border-radius: 25px;
        margin: 0 20px;
        padding: 5px;
        width: 180px;
        height: 50px;
    }

    &__search svg,
    &__heart svg,
    &__cart svg,
    &__dots svg {
        transition: all 0.3s ease-in-out;
            &:hover {
        transform: scale(1.4);
    }
}

    &__heart::after {
        content: '';
        background-image: url(../images/line.svg);
        position: absolute;
        height: 35px;
        width: 1px;
        top: -8px;
        right: -30px;
    }

    &__num {
        position: absolute;
        text-align: center;
        font-size: 10px;
        line-height: 1.5;
        color: $title;
        width: 16px;
        height: 16px;
        right: -10px;
        top: -4px;
        border-radius: 50%;
        background-color: #fff;
    }
}
// & svg {
//             transition: all 0.3s ease-in-out;
//         }

//         & svg:hover {
//             fill: #ff006b;
//                 }