.partner-slider {
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 1060px;
    margin: 0 auto;
    // padding-left: 50px;
    z-index: 5;

    @include r(970) {
        max-width: 450px;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $bg-accent;
        background-size: cover;
        opacity: 0.2;
        width: 100vw;
        height: 437px;
        z-index: -1;
        bottom: -79%;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .slick-track {
    //     display: flex;
    //     align-items: center;
    //     margin-left: 50px;
    // }
    .slick-slide {
        width: 200px;
    }
}