.product {
    padding-top: 79px;

    &__heading {
        @include heading;
        margin: 0 auto;
        text-align: center;

        @include r(970) {
            font-size: 25px;
        }
    }

    &__filter {
        margin-bottom: 40px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        grid-template-rows: repeat(auto-fill, 380px);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        justify-content: center;
        margin-bottom: 186px;

        @include r(970) {
            margin-bottom: 88px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 270px;
        padding: 27px 61px 38px;

        &:hover {
            transform: translateY(2px);
        }

        &-link {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }
    }

    &__item:hover &__hover {
        visibility: visible;
        opacity: 1;
    }


    &__img {
        margin-bottom: 29px;
        max-height: 235px;
        max-width: 238px;
        object-fit: contain
    }

    &__title,
    &__price {
        @include line-clamp (16px, 2.5, 1);
        max-width: 125px;
    }

    &__title {
        @extend %dmsans-500;
        color: $title;
    }

    &__price {
        @extend %dmsans-700;
        color: $subtitle;
    }

    &__hover {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        top: 50%;
    }


    &__icon {
        background-color: #fff;
        box-shadow: 0px 6px 10px 5px rgba(37, 37, 37, 0.07);
        transition: background-color 0.3s ease-in;
        border: none;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background-color: $subtitle;
        }

        &:hover svg {
            fill: #fff;
        }
    }
}

.product-lamp {
    &__items {
        display: flex;
        justify-content: space-between;

        @include r(1560) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $semilight-bg-accent;
        height: 390px;
        padding-right: 177px;
        padding-left: 154px;
        max-width: auto;

        @include r(1560) {
            margin-bottom: 50px;
        }

        @include r(470) {
            margin-bottom: 20px;
        }

        @include r(970) {
            padding-right: 10px;
            padding-left: 10px;
            height: 320px;
        }

        &:hover {
            transform: translateY(2px);
        }
    }

    &__text {
        margin-left: 25px;

        @include r(470) {
            max-width: 130px;
        }
    }

    &__name {
        @include line-clamp (26px, 1.23, 2);
        font-weight: 700;
        margin-bottom: 13px;
        max-width: 250px;

        @include r(970) {
            @include line-clamp (19px, 1.1, 4);
        }
    }

    &__descr {
        @include line-clamp (16px, 1.8, 2);
        @extend %rubik-400;
        margin-bottom: 45px;
        max-width: 295px;

        @include r(970) {
            @include line-clamp (15px, 1.1, 6);
            max-width: 240px;
        }
    }

    &__img {
        display: inline-block;
        max-height: 400px;
        max-width: 222px;
        margin-bottom: 162px;
        object-fit: contain;

        & img {
            @include r(970) {
                max-width: 67%;
            }

            @include r(470) {
                max-width: 80%;
            }
        }

        @include r(970) {
            margin-bottom: 0;
        }
    }

    &__link {
        @extend %rubik-500;
        color: $accent;
        border: solid 1px rgba(67, 99, 114, .4);
        border-radius: 5px;
        padding: 17px 82px 23px 19px;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include r(970) {
            padding: 10px 53px 10px 11px;
        }

        @include r(470) {
            padding: 10px 8px 10px 11px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/blue-arrow.svg);
            width: 22px;
            height: 9px;
            right: 19px;
            top: 24px;

            @include r(970) {
                top: 16px;
            }

            @include r(470) {
                background: none;
            }
        }

        &:hover {
            background-color: $subtitle;
        }
    }
}