.slider-top {

    &__items {
        background-color: $bg-accent;
        height: 820px;
        position: relative;

        @include r(1260) {
            height: 540px;
        }

        @include r(970) {
            height: 310px;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 734px;

        @include r(1260) {
            height: 475px;
        }

        @include r(970) {
            height: 240px;
        }

        @include r(470) {
            height: 300px;
            flex-wrap: wrap;
        }
    }

    &__text {
        margin-right: 84px;

        @include r(1260) {
            margin-top: 15px;
            margin-right: 0;
            margin-left: 10px;
        }
    }

    &__heading {
        @extend %rubik-500;
        @include line-clamp (72px, 1, 2);
        color: $title;
        max-width: 430px;
        margin-bottom: 36px;

        @include r(1260) {
            font-size: 60px;
            margin-bottom: 13px;
            max-width: 591px;
        }

        @include r(970) {
            @include line-clamp (30px, 1, 5);
        }

        @include r(470) {
            font-size: 26px;
        }
    }


    &__descr {
        @include line-clamp (18px, 1.6, 2);
        @extend %rubik-400;
        line-height: 1.6;
        color: $accent;
        max-width: 370px;
        margin-bottom: 60px;

        @include r(1260) {
            margin-bottom: 20px;
        }

        @include r(970) {
            @include line-clamp (15px, 1, 10);
        }

        @include r(470) {
            font-size: 15px;
        }
    }

    &__link {
        padding: 24px 100px 21px 27px;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include r(1260) {
            padding: 12px 50px 12px 16px;
        }

        @include r(970) {
            padding-right: 16px;
        }

        @include r(470) {
            padding: 6px 10px 6px 11px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/arrow.svg);
            width: 22px;
            height: 9px;
            right: 21px;
            top: 28px;

            @include r(1260) {
                top: 20px;
            }

            @include r(970) {
                background-image: none;
            }
        }
    }

    &__img {
        padding-top: 77px;
        max-width: 660px;
        max-height: 390px;
        object-fit: contain;
        position: relative;
        z-index: 999;

        @include r(1260) {
            padding-top: 33px;
        }

        @include r(970) {
            max-width: 50%;
        }

        @include r(470) {
            max-width: 85px;
            padding-top: 0;
        }

        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-image: linear-gradient(-90deg, #fff, transparent);
            width: 33vw;
            height: 33vw;
            top: -29%;
            left: 22%;
            z-index: -1;

            @include r(1560) {
                display: none;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 46px;
        left: 0;
        right: 0;

        li {
            line-height: 1;
            padding: 0 5px;

            button {
                @extend %rubik-500;
                padding: 0;
                font-size: 10px;
                background-color: rgba(255, 255, 255, 0.3);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all 0.3s ease;

                &:hover {
                    border-color: $accent;
                }
            }

            &.slick-active {
                button {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}